<div class="col-sm-3 col-md-2 sidebar"> 
    <div class="container-fluid">
       <div class="row">
           <div class="col-2">
               <nav class="nav flex-column">
   <ul class="nav nav-sidebar">
     <li class="active"><a href="#"><b>Overview</b></a></li>
   </ul>
   <ul class="nav nav-sidebar">
     <li><a href="/projects/activity"><b>Activity</b></a></li>
   </ul>
   <ul class="nav nav-sidebar">
     <li><a href="/projects/members"><b>Members</b></a></li>
   </ul>
   <ul class="nav nav-sidebar">
     <li><a href="/projects/issues"><b>Issues</b></a></li>
   </ul>
 </div>